/* CSS used here will be applied after bootstrap.css */
body {
    position: relative;
    background-color: #e5eefb;
}

.container-bump{margin-top:60px}

.v-border {
    border: dashed;
}

.extended-width-group {
    width: 600px
}

.extended-width-button {
    width: 200px
}

.list-item-height {
    height: 95vh;
    padding-top: 80px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav {
    color: #fff;
    background-color: #83868a;
}

a.nav-link {
    /*color: #009fff;*/
    color: #fff;
    text-decoration: none;
    background-color: #475665;
    -webkit-text-decoration-skip: objects;
}

a.nav-link.active:hover {
    /*color: #009fff;*/
    color: #fff;
    text-decoration: none;
    background-color: #83868a;
    -webkit-text-decoration-skip: objects;
    border-color: rgba(69, 0, 84, 0.24);
    border-with: thin;
    border-style: solid;
}


a.nav-link:hover {
    color: #009fff;
    /*color: #83868a;*/
    text-decoration: none;


    border-color: #747378;
    border-style: solid;


    background-color: #475665;
    /*background-color: #747378;*/
    -webkit-text-decoration-skip: objects;
}

.project-caption-bg{
    background-color: #77B7DD;
    /*background-color: #e5eefb;*/

}

.border-projects {
    border: solid;
    border-width: 2px;
}

.border-item {
    border: solid;
    border-width: 1px;
}

.button-project {
    color: black;
    padding: 0;
}

.button-contacts {
    color: black;
    border-color: #83868a;
    border-style: solid;
    background-color: transparent;
    box-shadow: none;

}

.button-contacts:hover {
    color: black;
    border-color: #475665;
    border-style: solid;
    background-color: #e5eefb;
}


#lnk_1, #lnk_2, #lnk_3{
    box-shadow: none;
}


